name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  pep8:
    name: PEP8
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          pip install tox

      - name: Run PEP8 checks
        run: tox -e pep8

  py3:
    name: Unit Tests (Python ${{ matrix.python-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12']
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          pip install tox

      - name: Run unit tests
        run: tox -e py3 --override testenv.basepython=python${{ matrix.python-version }}

  container-build:
    name: Container Build Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build container image
        run: podman build -t nova-console-poller:test .

      - name: Test help command
        run: podman run --rm nova-console-poller:test --help
